header {
    background-color: #96bde5;
    min-height: 12vh;
}

.nobutton {
    background: none;
    border: none;
    margin-left: 2vw;
    margin-right: 2vw;
}

.aira{
    margin-left: 2vw;
    height: 72px;
    width: 128px;
}